
#btn-login {
    border: 1px solid #333;
    padding: 10px;
    border-radius: 16px;
}

#btn-login:hover{
    background-color: #333;
    color: #fff;
}


a
{ cursor: pointer;}


/*Media screen*/
@media screen and (max-width: 768px) {

    #ficheProduit{
        padding-top: 15%;
    }
   }
@media screen and (max-width: 767px) {

    #volailesimg{
        margin-top:  15px;;
    }
    #voir{
        margin-bottom: 15px;
    }
   }


